* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 80px;
}

button {
  cursor: pointer;
}

.sidebar {
  background: #fe255c;
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.sidebarLogo img {
  display: block;
  max-width: 180px;
  max-height: 180px;
  border-radius: 50%;
  margin: 0 auto;
}

.sidebar ul li a {
  margin-top: 55px;
  display: block;
  padding: 12px 30px;
  color: rgb(241, 237, 237);
  font-size: 18px;
  position: relative;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: #FE255C;

    background:rgba(255, 255, 255, 0.938);
    border: 1px solid #FE255C;
}

.container {
  width: 950%;
  height: 80%;
  border-radius: 10px;
  background: white;
  margin-left: 120px;
  margin-right: 20px;
  margin-top: 80px;
}

.header {
  min-height: 70px;
  display: flex;
  align-items: center;
  margin: auto 12px;
}

.header span {
  font-weight: 900;
  font-size: 20px;
  word-break: break-all;
  margin-right: 550px;
}

#new {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #fe255c;
}


.rangeDate {
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 15px;
}

.rangeDate h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.divTable {
  padding: 10px;
  width: auto;
  height: inherit;
  overflow: auto;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke;
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray;
}

table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

thead {
  background-color: whitesmoke;
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235) !important;
}

tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

thead tr th {
  padding: 5px;
  text-align: start;
  margin-bottom: 50px;
}

tbody tr {
  margin-bottom: 50px;
}

thead tr th.acao {
  width: 100px !important;
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }

  .header span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto !important;
  }

  td button i {
    font-size: 20px !important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90% !important;
  }

  .modal label {
    font-size: 12px !important;
  }
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.modal label {
  margin-top: 50px;
  font-size: 14px;
  width: 100%;
}

.modal input {
  width: 100%;
  outline: none;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal select {
  width: 100%;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.modal button {
  width: 100%;
  margin: 10px auto;
  outline: none;
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
  background-color: #fe255c;
  color: white;
}

.btnSearchDate {
  color: #fff;
  background-color: #fe255c;
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  width: 60px;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal 0.4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

td button {
  border: none;
  outline: none;
  background: transparent;
}

td button i {
  font-size: 25px;
}

td button i:first-child {
  margin-right: 10px;
}
